.box {
  border: 5px solid black; 
  width: 500px;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.item-img{
  width:300px;
  height: 300px;
  align-items: center;
  padding-left:50px;
}

.main{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.main-btn{
  text-align: center;
  padding-top:10px;
}

.box.win {
  border-color: green;
}

.box.lose {
  border-color: red;
}

.box.tie {
  border-color: black;
}